.assignments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

    .written {
    }

    .programming {
    }

    h4 {
        text-transform: capitalize;
        text-align: center;
        font-size: $sp-5 !important;
        margin-top: 1rem !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: underline;
    }

    table {
        border-collapse: collapse !important;
        width: 100%;
      }
  
      th, td {
        border: none !important;
        padding: 8px;
        text-align: center;
        font-size: medium !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
  
      th {
        background-color: #f2f2f2;
      }

      a {
        color: #000;
        text-decoration: underline;
      }
}