// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';
@import 'assignments';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

// .main-content-wrap {
//   max-width: $content-width;
//   margin: auto;
// }

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: normal;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }
}

h2 {
  font-size: 1.5rem !important;
}

p {
  font-size: medium;
}

.logo {
  width: fit-content;
  position: relative;
  height: 100%;
}

.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mq(sm) {
    width: auto;
  }
}


// .policies
.policies {
  display: block;

  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap as needed */
  }

  .policy {
    @include mq(md){
      padding-left: 2rem;
      padding-right: 2rem;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #d7d5d6;
      text-align: justify;
    }
  }

  .policy h2 {
    font-size: 1.5rem;

    @include mq(md) {
      margin-bottom: 0px;
      margin-bottom: 0.5rem;
      }
  }

  p {
    font-size: medium;
  }
}

.dropdown {
  background-color: $body-background-color;
  // margin-right: $sp-4;
  align-items: start;
  width: 100%;
  right: 0px;

  @include mq(sm) {
    width: auto;
    margin-left: 0px;
  }
}

.dropdown a {
  float: right;
  font-size: medium;
  color: $link-color;
  align-items: center;
  text-transform: uppercase;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  border: none;
  font-size: small;
  font-weight: bold;
  color: $link-color;
  padding: $sp-4;
  margin: 0px;
  background-color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  align-items: flex-start;
  width: 100%;
  text-align: left;

  @include mq(sm) {
    font-size: medium;
    font-weight: normal;  
    width: auto;
  }

  @include mq(md) {
    font-size: medium;
    font-weight: bold;
    width: auto;
  }
}

.dropbtn a:hover, .dropdown:hover .dropbtn {
  background-color: $sidebar-color;
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
  );
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  z-index: 1;
  overflow: hidden;
  font-weight: bold;
  font-size: small;
  width: 100%;

  @include mq(sm) {
    font-size: medium;
    font-weight: normal;
    width: auto;
  }

  @include mq(md) {
    font-size: medium;
    font-weight: bold;
  }
}

.dropdown-content a {
  float: none;
  color: $link-color;
  padding: $sp-4;
  text-decoration: none;
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: small;

  @include mq(sm) {
    font-size: medium;
    font-weight: normal;  
  }

  @include mq(md) {
    font-size: medium;
    font-weight: bold;
  }
}

.dropdown-content a:hover {
  background-color: $sidebar-color;
}

.dropdown:hover .dropdown-content {
  display: block;
}