{% if page.banner_heading %}
<section class="banner" style="background-image: url('{{ page.banner_image }}');">
    <div class="container">
        <h1><span>{{ page.banner_heading }}</span></h1>
        <p>{{ page.banner_description }}</p>
    </div>
    <div class="external-links">
        {% if page.title == "Home" %}
        <a href="/COSI-127B/assets/pdf/Syllabus-COSI-127B.pdf" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Syllabus</strong></a>
        <a href="https://piazza.com/class/lqgumfk5p7c3yl" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Piazza</strong></a>
        <a href="https://www.gradescope.com/courses/655731" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Gradescope</strong></a>
        <a href="https://moodle2.brandeis.edu/course/view.php?id=32167" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">LATTE</strong></a>
        {% endif %}    
    </div>
</section>
{% endif %}
